<a class="header-back-button material-icons" href="">chevron_left</a>
<a id="title-header" href="index.html">
    <span class="title">Likemind</span>
</a>
<a id="group-header" href="group.html">
    <!-- TODO: populate dynamically -->
    <span class="group-title">CST Winter 2025</span>
    <span class="header-group-arrow material-icons">chevron_right</span>
</a>
<div id="profile-picture">
    <a id="header-profile-link" href="account.html">
        <!-- TODO: populate dynamically -->
        <img src="../public/images/headshot5.jpeg" alt="Profile Picture" />
    </a>
</div>
<div id="header-buttons">
    <button id="login-button">Log In</button>
    <button id="logout-button">Log Out</button>
</div>
