<a class="header-back-button material-icons" href="">chevron_left</a>
<a class="header-group-button material-icons" href="group.html" style="display: none">group</a>
<a id="title-header" href="main.html" style="display: none">
    <span class="title">Likemind</span>
</a>
<a id="group-header" href="main.html" style="display: none">
    <!-- TODO: populate dynamically -->
    <span class="group-title"></span>
</a>
<div id="profile-picture-container" style="display: none">
    <a id="header-profile-link" href="account.html">
        <!-- TODO: populate dynamically -->
        <img id="profile-picture" src="" alt="Profile Picture" />
    </a>
</div>
<div id="header-buttons">
    <button id="login-button" style="display: none">Log In</button>
    <button id="logout-button" style="display: none">Log Out</button>
</div>
