<!-- This html snippet is dynamically loaded and configured by loadContent.js. 
    match_cards are used to display a matched user on main.html and group.html -->
<div class="match-card card">
    <div class="match-card-content">
        <img class="match-card-image" src="../public/images/blank_avatar.jpeg" alt="Profile Picture" />
        <div class="match-card-text">
            <span class="match-card-header">
                <span class="match-card-name"></span>
                <span class="match-card-percent">&nbsp;</span>
            </span>
            <span class="match-card-body">
                <div class="match-card-info">...also likes <strong></strong></div>
                <div class="match-card-info">...also values <strong></strong></div>
            </span>
        </div>
    </div>
</div>
