<div class="match-card card">
    <img class="match-card-image" src="../public/images/blank_avatar.jpeg" alt="Profile Picture" />
    <div class="match-card-text">
        <span class="match-card-header">
            <span class="match-card-name">Jimmy</span>
            <span class="match-card-percent">90%</span>
        </span>
        <span class="match-card-body">
            <div class="match-card-info">...also likes <strong>hockey</strong></div>
            <div class="match-card-info">...also values <strong>LGBT issues</strong></div>
        </span>
    </div>
</div>
