<div class="survey-card card">
    <div class="survey-card-header">
        <div class="survey-card-question">how interested are you in</div>
        <div class="survey-card-topic">Jogging</div>
    </div>
    <div class="survey-response-container">
        <div class="survey-response material-icons large" data-value="1">radio_button_unchecked</div>
        <div class="survey-response material-icons medium" data-value="2">radio_button_unchecked</div>
        <div class="survey-response material-icons small" data-value="3">radio_button_unchecked</div>
        <div class="survey-response material-icons medium" data-value="4">radio_button_unchecked</div>
        <div class="survey-response material-icons large" data-value="5">radio_button_unchecked</div>
    </div>
    <div class="survey-response-labels">
        <span class="response-label"> ← very uninterested</span>
        <span class="response-label">very interested →</span>
    </div>
</div>
