<div class="survey-card card">
    <div class="survey-card-header">
        <div class="survey-card-question">How interested are you in...</div>
        <div class="survey-card-topic">Jogging?</div>
    </div>
    <div class="survey-response-container">
        <div class="survey-response" data-value="1">
            <div class="material-icons">radio_button_unchecked</div>
            <span class="response-label">Very interested</span>
        </div>
        <div class="survey-response" data-value="2">
            <div class="material-icons">radio_button_unchecked</div>
            <span class="response-label">Somewhat interested</span>
        </div>
        <div class="survey-response" data-value="3">
            <div class="material-icons">radio_button_unchecked</div>
            <span class="response-label">Somewhat Uninterested</span>
        </div>
        <div class="survey-response" data-value="4">
            <div class="material-icons">radio_button_unchecked</div>
            <span class="response-label">Very Uninterested</span>
        </div>
    </div>
</div>