body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#group-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-size: 0.9em;
}

#group-info #switch-group-link {
    color: #384e59;
    text-decoration: none;
    font-weight: 900;
}

#group-info #group-share-link {
    font-style: italic;
    color: #384e59;
    cursor: pointer;
}

#group-info #group-share-link:hover {
    color: #6094ae;
}

.match-container,
.match-card-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

#no-matches {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5% 0;
}
