html,
body,
main {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    display: flex;
    align-items: center;
}

#user-name {
    margin-bottom: 10px;
}
#profile-container-top {
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    align-items: center;
}
#profile-container {
    flex-grow: 1;
    width: 100%;
    background-color: #e2f5fe;
    box-sizing: border-box;
    padding: 20px;
}
#user-picture {
    width: 200px;
    max-width: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#message-button {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: #384e59;
    color: white;
    border-radius: 15px;
    border-width: 0px;
}

#message-button:hover {
    background-color: #2a3d46;
}

#contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

#contact-container * {
    text-align: center;
}

#contact-container small {
    color: #384e59;
}

.noun-header {
    font-size: 1.5em;
    font-weight: bold;
}

.noun-container {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.noun-bubble {
    margin-top: 5px;
    padding: 3px 6px;
    white-space: nowrap;
    background: white;
    border-radius: 12px;
}
