#profile-picture {
    display: none;
}

.settings-username {
    margin-top: 20px;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}

header {
    z-index: 2;
}

#account-picture-container {
    width: 150px;
    aspect-ratio: 1/1;
    position: relative;
}

#profile-picture-large {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0 auto;
}

#upload-button {
    bottom: 30px;
    position: absolute;
}

.setting-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    overflow-y: auto;
}

.collapsible {
    margin: 2.5px;
    align-self: center;
}

.content {
    overflow-y: scroll;
}

body {
    overflow-y: auto;
    height: 100%;
}
table {
    width: 100%;
    border-collapse: collapse; /* Removes any space between table cells */
    margin-top: 20px;
    table-layout: fixed; /* Prevent the table from resizing based on content */
}

td {
    padding-right: 20px;
    text-align: left;
    vertical-align: middle;
    overflow: hidden; /* Prevent content from overflowing */
    white-space: nowrap; /* Prevent text from wrapping */
}

td:nth-child(1) {
    width: 30%; /* First column width */
}
td:nth-child(2) {
    width: 65%; /* Second column width */
    overflow: scroll;
}
td:nth-child(3) {
    width: 5%; /* Third column width */
}
strong {
    font-weight: bold;
}

/* Style the edit icon */
main .material-icons {
    cursor: pointer;
    color: #384e59; /* Default icon color */
    font-size: 1.5em;
}

/* Optional: Add hover effect for the edit icon */
.material-icons:hover {
    color: #007bff; /* Blue color when hovered */
}

.noun-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background: #ebf9ff;
    border-radius: 6px;
}

.noun-bubble {
    margin-top: 5px;
    padding: 3px 6px;
    white-space: nowrap;
    border-radius: 12px;
    background: white;
    cursor: pointer;
}

small {
    font-size: 0.5em;
}
#survey {
    user-select: none;
}
