/* #region MATCH_PROGRESS_BAR */

.match-progress-bar-header{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.match-progress-bar-title{
    font-size: 1.3em;
}

.match-progress-bar{
    width: 90%;
    margin: 0 auto;
}

.match-progress-bar-base {
    width: 100%; 
    height: 25px;
    background-color: #bbd3de; 
    border-radius: 15px;
    overflow: hidden;
  }
  
.match-progress-bar-fill {
    height: 100%; 
    background-color: #384e59; 
    width: 40%; /* edit this property to adjust the progress bar */
    transition: width 0.3s ease; /* Smooth transition for width changes */
  }
  
/* #endregion MATCH_PROGRESS_BAR */

/* #region SURVEY_CARD */
.survey-card-gallery{
    display: grid;
    grid-template-columns: minmax(120px, auto);
    grid-auto-rows: 1;
    overflow: hidden;
    max-height: calc(100vh - 380px);
    margin-top: 20px;
    -webkit-mask-image: linear-gradient(to bottom, 
        rgba(0,0,0,1) 70%, 
        rgba(0,0,0,0) 90%);
    mask-image: linear-gradient(to bottom, 
        rgba(0,0,0,1) 70%, 
        rgba(0,0,0,0) 90%);
}


.survey-card-gallery > :not(:first-child) {
    transform: scale(0.9); 
    transform-origin: center; 
    opacity: 0.5; 
}

.survey-card{
    height: 120px;
    width: 70vw;
    margin: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.survey-card .survey-card-header{
    font-size: 1.2em;
}

.survey-card .survey-card-question{
    font-size: 0.85em;
    text-align: center;

}

.survey-card .survey-card-topic{
    font-weight: bolder;
    text-align: center;
}

.survey-card .survey-response-container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-grow: 0.75;
    gap: 20px;
}

.survey-card .survey-response{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #384e59;
}

.survey-card .survey-response-labels{
    display: flex;
    justify-content: space-between;
}

.survey-card .response-label{
    font-size: 0.8em;
    color: #b4bdc2;
    display: flex;
    align-items: center;
}

/* #endregion SURVEY_CARD */