#join-button {
  display: block;
  margin: 0 auto;
  width: 9em;
  height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #384e59;
  color: white;
  border-radius: 40px;
  border-width: 0px;
  font-size: 1.5em;
  padding: 10px;
}
#join-button:hover {
  background-color: #2a3d46;
}

/* body */
main {
    grid-row: 2;
}

#hero-image {
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    width: 80%;
}

#hero-text {
    text-align: center;
    font-size: 3em;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

#hero-text span {
    font-size: 0.9em;
    color: #384e59;
}

#description {
    text-align: center;
    font-size: 1.5em;
    margin: 8%;
    padding: 0;
}